html {
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

 body {
    width: 90%;
    display:flex;
    flex-direction: column;
    height: max-content;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    position: relative;
} 

body h1 {
    font-size: 500%;
    border-top: 50px;
    border-bottom: 2px;
    border: 10px solid orange;
    /* border-bottom: 5px solid orange; */
}

.box {
    /* left: 32%; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    width: 90%;
    height: 30%;
    background-color: white;
    border: 1px solid rgba(59, 58, 58, 0.4);
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#userFill {
    height: 15%;
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    resize: none;
}

@keyframes slidein {
    from {
      margin-left: 500%;
      width: 300%;
    }
  
    to {
      margin-left: 5%;
      width: 90%;
    }
  }

#submitBtn {
    padding: 5% 15px;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    top: 0;
    font-weight: bold;
    font-size: 20pt;
    background-color: white;
    border: 1px solid rgba(59, 58, 58, 0.4);
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    transition: top ease 0.5s;

}

#submitBtn:hover {
    top: -5px;
    background-color: grey;
}

.box-two {
    position: relative;
    /* left: 7%; */
    /* width: 75%; */
    width: auto;
    border: 1px solid black;
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    background-color: grey;
    margin: 5%;
}

.row-one {
    padding-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listed {
    width: 300px;
  border: 5px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 10%;
  background-color: white;
}

.missing {
    width: 300px;
  border: 5px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 10%;
  background-color: white;
}

.image {
    width: 300px;
  border: 5px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 10%;
  background-color: white;
}

.instructions {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
  border: 5px solid black;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;
  background-color: white;
}