html {
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
}

body {
  width: 90%;
  display:flex;
  flex-direction: column;
  height: max-content;
  align-content: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  position: relative;
  padding-bottom: 4.5%;
  overflow-x: hidden;
  font-family: sans-serif;
} 

body h1 {
    font-size: 500%;
    border-top: 50px;
    border-bottom: 2px;
    border: 10px solid orange;
}

#prompt {
  font-family: "Courier New", monospace;
  font-weight: lighter;
  display: none;
}

.box {
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    width: 90%;
    height: 30%;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(59, 58, 58, 0.4);
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#userFill {
    height: 15%;
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    resize: none;
}

@keyframes slidein {
    from {
      margin-left: 500%;
      width: 300%;
    }
  
    to {
      margin-left: 5%;
      width: 90%;
    }
  }

#submitBtn {
    padding: 5% 15px;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    top: 0;
    font-weight: bold;
    font-size: 20pt;
    background-color: white;
    border: 1px solid rgba(59, 58, 58, 0.4);
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    transition: top ease 0.5s;
    width:25%;
    cursor: pointer;
}

#submitBtn:hover {
    top: -5px;
    background-color: grey;
}

.arrow {
  margin: 0 auto;
  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  border-style: solid;
  border-color: rgb(87, 87, 87);
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.box-two {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding-right: 3%;
    padding-left: 3%;
    position: relative;
    width: auto;
    border: 1px solid black;
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    background-color: grey;
    margin: 5%;
    display: none;
}

.row-one {
    padding-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#recipeTitle {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: center;
  border: 5px solid black;
  border-radius: 20px;
  margin: 1%;
  padding: 3%;
  background-color: white;
  font-size: 45pt;
}

#time {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: center;
  border: 5px solid black;
  border-radius: 20px;
  margin: 1%;
  padding: 3%;
  background-color: white;
  font-size: 25pt;
}

#error {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: left;
    border: 5px solid black;
    border-radius: 20px;
    margin: 1%;
    padding: 2%;
    background-color: white;
    font-size: 25pt;
}

#listed {
  width: 30%;
  border: 5px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 5%;
  background-color: white;
  font-size: 25pt;
}

#missing {
  width: 30%;
  border: 5px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 5%;
  background-color: white;
  font-size: 25pt;
}

#image {
  border: 5px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 3%;
  background-color: white;
}

#foodView {
  width: 90%;
  height: 90%;
}

#instructions {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: left;
  border: 5px solid black;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;
  background-color: white;
  font-size: 25pt;
}

.popUp {
  visibility: hidden; 
  width: 600px;
  background: #fff;
  border-radius: 6px;
  border: 8px solid rgba(59, 58, 58, 0.4);
  position: fixed;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0 30px 30px;
  text-align: center;
  color: #333;
  box-sizing: border-box;
}

.popUp.active {
  visibility: visible;
  
}

.popUp h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px;
}

.popUp button {
    padding: 5% 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    top: 0;
    font-weight: bold;
    font-size: 20pt;
    background-color: white;
    border: 1px solid rgba(59, 58, 58, 0.4);
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    transition: top ease 0.5s;
    width:25%;
    cursor: pointer;
}

.popUp2 {
  visibility: hidden; 
  width: 600px;
  background: #fff;
  border-radius: 6px;
  border: 8px solid rgba(59, 58, 58, 0.4);
  position: fixed;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0 30px 30px;
  text-align: center;
  color: #333;
  box-sizing: border-box;
}

.popUp2.active {
  visibility: visible;
  
}

.popUp2 h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px;
}

.popUp2 button {
    padding: 5% 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    top: 0;
    font-weight: bold;
    font-size: 20pt;
    background-color: white;
    border: 1px solid rgba(59, 58, 58, 0.4);
    box-shadow: -10px 5px 10px grey;
    border-radius: 20px;
    transition: top ease 0.5s;
    width:25%;
    cursor: pointer;
}

.overlay{
  visibility: hidden;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.overlay.active {
  visibility: visible;
}